.CFUserTextEncoding
.DS_Store
.Trash
.zcompdump*
.zsh-update
.zsh_history
.zshrc-e
.viminfo
.vim/.netrwhist
.vim/bundle
.homebrew_analytics_user_uuid
.aws/
.oracle_jre_usage/
.secrets/
.mysql_history
.npm
.npmrc
.nvm
.docker/
.npmrc
.openvpn-connect.json
.node-gyp/
.node_repl_history
# nodemon at least uses this..
.config
.ssh
.bash_history
.oh-my-zsh
.lesshst
.php_history
.pyenv/
.virtualenvs/
# something used by powerline, evidently
.local/
# file used by VLC
.dvdcss/
.subversion/
.cups/
.dropbox/
.electron/
.atom/
.bash_sessions/
.aws/
.docker/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
OpenEmu/
Pictures/
Public/
brokendisk/
trove/
code/
.secrets
.wget-hsts
# ruby shit
.gem
.cache
.bundler

