.CFUserTextEncoding
.DS_Store
.Trash
.zcompdump*
.zsh-update
.zsh_history
.zshrc-e
.viminfo
.vim/.netrwhist
.vim/bundle
.npm
.nvm
.node-gyp/
.node_repl_history
.ssh
.bash_history
.oh-my-zsh
.lesshst
.php_history
.pyenv/
# something used by powerline, evidently
.local/
# file used by VLC
.dvdcss/
.subversion/
.cups/
.dropbox/
.electron/
.atom/
.bash_sessions/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
OpenEmu/
Pictures/
Public/
brokendisk/
trove/
code/
